.idea
.idea/*

__pycache__/
__pycache__/*

*.pyc

tensorspacejs.egg-info
tensorspacejs.egg-info/*
build
build/*
dist
dist/*
models
models/*

tensorspacejs/tf/pb2json/node_modules/*
tensorspacejs/tf/pb2json/package-lock.json
tensorspacejs/tfjs/node_modules/*
tensorspacejs/tfjs/package-lock.json
tensorspacejs/tfjs/test/model.json
tensorspacejs/tfjs/test/weights.bin

package-lock.json
node_modules/*