.idea
.idea/*

tensorspacejs.egg-info
tensorspacejs.egg-info/*
build
build/*
dist
dist/*

tensorspacejs/converters/tfjs/node_modules/*
tensorspacejs/converters/tfjs/package-lock.json
tensorspacejs/converters/tfjs/test/model.json
tensorspacejs/converters/tfjs/test/weights.bin

src/tfjs/node_modules/*
src/tfjs/package-lock.json
src/tfjs/test/model.json
src/tfjs/test/weights.bin