.idea
.idea/*

__pycache__/
__pycache__/*

*.pyc

tensorspacejs.egg-info
tensorspacejs.egg-info/*
build
build/*
dist
dist/*
models
models/*

src/tfjs/node_modules/*
src/tfjs/package-lock.json
src/tfjs/test/model.json
src/tfjs/test/weights.bin

package-lock.json